
        /* Styles for glassmorphism effect */
        .container {
            background: rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(10px);
            border-radius: 10px;
            padding: 20px;
            margin: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
            transition: all 0.3s ease-in-out;
            width: 300px;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            background-size: cover;
            background-blend-mode:soft-light;
            background-position: center;
            position: relative;
            overflow: hidden;
            color: #000000;
            font-size: 20px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        .container:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 20px rgb(90, 7, 7), 0 3px 6px rgba(0, 0, 0, 0.12);
        }

        /* Other styles */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: linear-gradient(45deg, #000000, #ffffff);
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        header, footer {
            background-color: #c22421;
            color: #000000;
            padding: 10px;
            text-align: center;
        }

        main {
            flex-grow: 2;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding: 20px;
        }

        .text {
            text-align: center;
            margin-bottom: 10px;
        }

        .button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            transition: background-color 0.8s;
        }

        .button:hover {
            background-color: #004904;
        }

      



